<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'student/studentdashboard' %>
  <title>Welcome to PHD Annual Review Process</title>
</head>
<body>
  <div class="header">
    <h1>Student Dashboard</h1>
    <%= link_to 'Logout', student_logout_path, method: :get, class: 'logout-button' %>
  </div>

  <div class="container">
    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>">
        <%= message %>
      </div>
    <% end %>
    <%= link_to 'Edit Committee', edit_committee_student_path, class: 'button' %>
    <%= link_to 'Submit Documents', student_documents_path, class: 'button' %>
    <%= link_to 'View Assessments', student_view_assessments_path(current_student), class: 'button' %>
    <%= link_to 'Change Password', change_password_student_path, class: 'button' %>
  </div>

</body>
</html>
