<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'student/studentsignup' %>
  <title>Welcome to PHD Annual Review Process</title>
</head>
<body>
  <div class="header">
    <h1>New Student Sign-Up</h1>
  </div>

  <div class="container">
    <h2>Student Sign Up</h2>
    <%= form_for(@student, url: student_signup_path) do |f| %>
      <div class="field">
        <%= f.label :"First Name" %>
        <%= f.text_field :first_name, id: "first_name" %>
      </div>

      <div class="field">
        <%= f.label :"Last Name" %>
        <%= f.text_field :last_name, id: "last_name" %>
      </div>

      <div class="field">
        <%= f.label :UIN %>
        <%= f.text_field :UIN, id: "UIN" %>
      </div>

      <div class="field">
        <%= f.label :"Email ID" %>
        <%= f.text_field :email_id, id: "email_id" %>
      </div>

      <div class="field">
        <%= f.label :Password %>
        <%= f.password_field :password, id: "password" %>
      </div>

      <div class="field">
        <%= f.label :"Password Confirmation" %>
        <%= f.password_field :password_confirmation, id: "confirm_password" %>
      </div>

      <div class="actions">
        <%= f.submit 'Sign Up', class: 'btn', id: "submit" %>
      </div>

      <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
          <ul>
            <% @student.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</body>
</html>
