<%= form_for(:admin, url: admin_login_path, method: :post, id: 'login-form') do |f| %>
  <div class="field">
    <%= f.label :"Email ID" %>
    <%= f.text_field :email_id, required: true %>
  </div>

  <div class="field">
    <%= f.label :"Password" %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Log In' %>
  </div>
<% end %>

<script>
  document.getElementById('login-form').addEventListener('submit', function (event) {
    var emailField = document.querySelector('input[name="email_id"]');
    var passwordField = document.querySelector('input[name="password"]');

    if (emailField.value.trim() === '' || passwordField.value.trim() === '') {
      alert('Please fill in both email and password fields.');
      event.preventDefault(); // Prevent form submission
    }
  });
</script>