<%= form_with(model: student_document) do |form| %>
  <% if student_document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student_document.errors.count, "error") %> prohibited this student_document from being saved:</h2>

      <ul>
        <% student_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email_id, style: "display: block" %>
    <%= form.text_field :email_id %>
  </div>

  <div>
    <%= form.label :UIN, style: "display: block" %>
    <%= form.text_field :UIN %>
  </div>

  <div>
    <%= form.label :phd_start_date, style: "display: block" %>
    <%= form.text_field :phd_start_date %>
  </div>

  <div>
    <%= form.label :milestones_passed, style: "display: block" %>

    <%= check_box_tag(:milestone1) %>
    <%= label_tag(:milestone1, "Passed Qual Exam (or exempt from Qual exam)") %>

    <%= check_box_tag(:milestone2) %>
    <%= label_tag(:milestone2, "Have Approved Degree Plan (including committee)") %>

    <%= check_box_tag(:milestone3) %>
    <%= label_tag(:milestone3, "Passed Prelim Exam") %>

    <%= check_box_tag(:milestone4) %>
    <%= label_tag(:milestone4, "Have Approved PhD Proposal") %>

    <%= check_box_tag(:milestone5) %>
    <%= label_tag(:milestone5, "Defended Dissertation") %>

    <%= check_box_tag(:milestone6) %>
    <%= label_tag(:milestone6, "Submitted Dissertation") %>

  </div>

  <div>
    <%= form.label :improvement_plan_present, style: "display: block" %>
    <%= form.text_field :improvement_plan_present %>
  </div>

  <div>
    <%= form.label :improvement_plan_summary, style: "display: block" %>
    <%= form.text_area :improvement_plan_summary %>
  </div>

  <div>
    <%= form.label :gpa, style: "display: block" %>
    <%= form.text_field :gpa %>
  </div>

  <div>
    <%= form.label :support_in_last_sem, style: "display: block" %>
    <%= form.text_area :support_in_last_sem %>
  </div>

  <div>
    <%= form.label :number_of_paper_submissions, style: "display: block" %>
    <%= form.number_field :number_of_paper_submissions %>
  </div>

  <div>
    <%= form.label :number_of_papers_published, style: "display: block" %>
    <%= form.number_field :number_of_papers_published %>
  </div>
  
  <div class="field">
     <%= f.label :"Resume" %>
     <%= f.file_field :resume_file,  id: "resume_file" %>
   </div>

   <div class="field">
     <%= f.label :"Report" %>
     <%= f.file_field :report_file,  id: "report_file" %>
   </div>

   <div class="actions">
     <%= f.submit 'Submit', class: 'btn',id: "submit" %>
   </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
