<div id="<%= dom_id student_document %>">
  <p>
    <strong>First name:</strong>
    <%= student_document.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student_document.last_name %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= student_document.UIN %>
  </p>

  <p>
    <strong>Resume present:</strong>
    <%= student_document.resume_present %>
  </p>

  <p>
    <strong>Link to pdf:</strong>
    <%= student_document.link_to_pdf %>
  </p>

</div>
