<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<p style="color: green"><%= notice %></p>
<div class="header">
  <%= stylesheet_link_tag 'document/main.css' %>
  <div class="header">
    <h1>Submit Documents</h1>
    <%= link_to 'Back to Dashboard', student_dashboard_path, class: 'btn' %>
    <%= link_to 'Logout', student_logout_path, method: :get, class: 'btn' %>
  </div>
  
</div>

<div class="container">

<%= form_for(@student_data, url: student_documents_path, method: :get) do |f| %>   

<div>
  <table>
      <tr>
        <th><%= f.label :first_name %></th>
        <td><%= @student_data.first_name %></td>
      </tr>
      <tr>
        <th><%= f.label :last_name %></th>
        <td><%= @student_data.last_name %></td>
      </tr>
      <tr>
        <th><%= f.label :UIN %></th>
        <td><%= @student_data.UIN %></td>
      </tr>
      <tr>
        <th><%= f.label :email_id,  id: "email_id" %></th>
        <td><%= @student_data.email_id %></td>
      </tr>
    </table>

 </div> 
 <% end %>

 <%= form_for(@student_document, url: student_documents_path, method: :patch) do |f| %> 
  <% if @student_document.errors.any? %>
    <div style="color: white">
      <h2><%= pluralize(student_document.errors.count, "error") %> prohibited this student_document from being saved:</h2>

      <ul>
        <% student_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>  
 <table>
      <tr>
        <th><%= f.label :phd_start_date , id: "phd_start_date" %></th>
        <td>
          <select name="student_document[phd_start_date]" id="student_document_phd_start_date" class="form-control">
            <option value="">Select a date</option>
            <% current_year = Time.now.year %>
            <% (current_year..current_year + 2).each do |year| %>
              <optgroup label="<%= year %>">
                <option value="Spring <%= year %>">Spring <%= year %></option>
                <option value="Fall <%= year %>">Fall <%= year %></option>
                <option value="Summer <%= year %>">Summer <%= year %></option>
              </optgroup>
            <% end %>
          </select>
        </td>
        
      </tr>

      <tr>
      <th><%= f.label :milestones_passed, id: "milestones_passed" %></th>
      <td>
        <input type="checkbox" name="student_document[milestones_passed][]" value="Passed Qual Exam (or exempt from Qual exam)">
        <%= label_tag("milestone1", "Passed Qual Exam (or exempt from Qual exam)", class: "common-label-class") %>
        <br>
        <input type="checkbox" name="student_document[milestones_passed][]" value="Have Approved Degree Plan (including committee)">
        <%= label_tag("milestone2", "Have Approved Degree Plan (including committee)", class: "common-label-class") %>
        <br>
        <input type="checkbox" name="student_document[milestones_passed][]" value="Passed Prelim Exam">
        <%= label_tag("milestone3", "Passed Prelim Exam", class: "common-label-class") %>
        <br>
        <input type="checkbox" name="student_document[milestones_passed][]" value="Have Approved PhD Proposal">
        <%= label_tag("milestone4", "Have Approved PhD Proposal", class: "common-label-class") %>
        <br>
        <input type="checkbox" name="student_document[milestones_passed][]" value="Defended Dissertation">
        <%= label_tag("milestone5", "Defended Dissertation", class: "common-label-class") %>
        <br>
        <input type="checkbox" name="student_document[milestones_passed][]" value="Submitted Dissertation">
        <%= label_tag("milestone6", "Submitted Dissertation", class: "common-label-class") %>
        
      </td>
    </tr>
    
    
      <tr>
        <th><%= f.label :improvement_plan_present, id: "improvement_plan_present" %></th>
        <td>
        <select name="student_document[improvement_plan_present]" id="student_document_improvement_plan_present" class="form-control">
            <option value="">Select a value</option>
            <option value="Yes" %>Yes</option>
            <option value="No" %>No</option>
        </select>
        </td>
      </tr>
      <tr>
        <th><%= f.label :improvement_plan_summary , id: "improvement_plan_summary" %></th>
        <td><%= f.text_area :improvement_plan_summary, value: '' %></td>
      </tr>
      <tr>
        <th><%= f.label :gpa , id: "gpa" %></th>
        <td><%= f.text_field :gpa, value: '' %></td>
      </tr>


      <tr>
      <th><%= f.label :support_in_last_sem, id: "support_in_last_sem" %></th>
      <td>

      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="Research Assistantship with Faculty Member" class="toggle-textbox">
      <%= label_tag("support1", "Research Assistantship with Faculty Member", class: "common-label-class") %>
      <input type="text" name="student_document[support_in_last_sem][]" placeholder="Which Faculty member" class="toggle-textbox">
      </div>
     
      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="Teaching Assistantship" class="toggle-textbox">
      <%= label_tag("support2", "Teaching Assistantship", class: "common-label-class") %>
      <input type="text" name="student_document[support_in_last_sem][]" placeholder="Which classes/instructors" class="toggle-textbox">
      </div>

      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="Fellowship" class="toggle-textbox">
      <%= label_tag("support3", "Fellowship", class: "common-label-class") %>
      <input type="text" name="student_document[support_in_last_sem][]" placeholder="Which Fellowship" class="toggle-textbox">
      </div>
      
      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="Job within TAMU" class="toggle-textbox">
      <%= label_tag("support4", "Job within TAMU", class: "common-label-class") %>
      <input type="text" name="student_document[support_in_last_sem][]" placeholder="Describe the job" class="toggle-textbox">
      </div>

      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="Job outside TAMU" class="toggle-textbox">
      <%= label_tag("support5", "Job outside TAMU", class: "common-label-class") %>
      <input type="text" name="student_document[support_in_last_sem][]" placeholder="Describe the job" class="toggle-textbox">
      </div>

      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="Other" class="toggle-textbox">
      <%= label_tag("support6", "Other", class: "common-label-class") %>
      <input type="text" name="student_document[support_in_last_sem][]" placeholder="Describe the job" class="toggle-textbox">
      </div>

      <div>
      <input type="checkbox" name="student_document[support_in_last_sem][]" value="None">
      <%= label_tag("support7", "None", class: "common-label-class") %>
      </div>
      
      </td>
    </tr>


        <th><%= f.label :number_of_paper_submissions, id: "number_of_paper_submissions" %></th>
        <td><%= f.number_field :number_of_paper_submissions, value: '' %></td>
      </tr>
      <tr>
        <th><%= f.label :number_of_papers_published, id: "number_of_papers_published" %></th>
        <td><%= f.number_field :number_of_papers_published, value: ''  %></td>
      </tr>
    </table>
   <div class="field">
     <%= f.label :"Resume" %>
     <%= f.file_field :resume_file,  id: "resume_file" %>
   </div>

   <div class="field">
     <%= f.label :"Report" %>
     <%= f.file_field :report_file,  id: "report_file" %>
   </div>

   <div class="actions">
     <%= f.submit 'Submit', class: 'btn',id: "submit" %>
   </div>

</div>

<script>
  $(document).ready(function () {
    // Select all checkbox inputs with the class "toggle-textbox"
    var checkboxes = $('.toggle-textbox[type="checkbox"]');
    // Select all text inputs with the class "toggle-textbox"
    var textInputs = $('.toggle-textbox[type="text"]');

    // Initially, hide all text inputs
    textInputs.hide();

    // Attach a change event handler to the checkboxes
    checkboxes.on('change', function () {
      // Get the index of the clicked checkbox
      var index = checkboxes.index(this);
      // Toggle the visibility of the corresponding text input
      textInputs.eq(index).toggle(this.checked);
    });

    // Trigger the change event on page load to handle pre-checked checkboxes
    checkboxes.trigger('change');
  });
</script>


<% if flash[:error] %>
  <div class="flash error">
    <%= flash[:error] %>
  </div>
<% end %>
   
 <% end %>
