<p style="color: green"><%= notice %></p>

<%= render @student_document %>

<div>
  <%= link_to "Edit this student document", edit_student_document_path(@student_document) %> |
  <%= link_to "Back to student documents", student_documents_path %>

  <%= button_to "Destroy this student document", @student_document, method: :delete %>
</div>
