<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'faculty/changepassword' %>
  <title>Welcome to PHD Annual Review Process</title>
</head>

<body>
  <div class="header">
    <h1>Update Password</h1>
    <%= link_to 'Back to Dashboard', faculty_dashboard_path, class: 'dashboard-btn' %>
  </div>

  <div class="container">
    <h2>Update Password</h2>
    <%= form_for(:faculty, url: update_password_faculty_path, method: :patch, id: 'update-password-form') do |form| %>
  <div class="field">
    <%= form.label :current_password, 'Current Password' %>
    <%= form.password_field :current_password, required: true, id: 'current_password' %>
  </div>

  <div class="field">
    <%= form.label :password, 'New Password' %>
    <%= form.password_field :password, required: true, id: 'new_password' %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'Confirm New Password' %>
    <%= form.password_field :password_confirmation, required: true, id: 'new_password_confirmation' %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Password', class: 'btn', id: 'update-password' %>
  </div>
<% end %>

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>">
        <%= message %>
      </div>
    <% end %>
  </div>
</body>

</html>

<script>
  document.getElementById('update-password-form').addEventListener('submit', function (event) {
    var currentPasswordField = document.querySelector('input[name="faculty[current_password]"]');
    var newPasswordField = document.querySelector('input[name="faculty[new_password]"]');
    var newPasswordConfirmationField = document.querySelector('input[name="faculty[new_password_confirmation]"]');

    if (
      currentPasswordField.value.trim() === '' ||
      newPasswordField.value.trim() === '' ||
      newPasswordConfirmationField.value.trim() === ''
    ) {
      alert('Please fill in all password fields.');
      event.preventDefault(); // Prevent form submission
    }
  });
</script>
</html>
