<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag 'faculty/reviewstudent.css' %>
</head>
<body>
  <div class="header">
    <h1>Submitting Review for <%= @student.first_name %> <%= @student.last_name %></h1>
  </div>

<% if @no_documents_message %>
  <p><%= @no_documents_message %></p>
<% else %>
    <div class="custom-table-wrapper"> 
      <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th>PHD Start Date</th>
              <% @documents.each do |document| %>
                <td><%= document.phd_start_date.present? ? document.phd_start_date : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>Milestones Passed</th>
              <% @documents.each do |document| %>
                <td><%= document.milestones_passed.present? ? document.milestones_passed : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>GPA</th>
              <% @documents.each do |document| %>
                <td><%= document.gpa.present? ? document.gpa : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>Improvement Plan Present</th>
              <% @documents.each do |document| %>
                <td><%= @documents.first.improvement_plan_present.present? ? @documents.first.improvement_plan_present : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>Improvement Plan Summary</th>
              <% @documents.each do |document| %>
                <td><%= @documents.first.improvement_plan_summary.present? ? @documents.first.improvement_plan_summary : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>Support in Last Semester</th>
              <% @documents.each do |document| %>
                <td><%= @documents.first.support_in_last_sem.present? ? @documents.first.support_in_last_sem : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>Paper Submissions</th>
              <% @documents.each do |document| %>
                <td><%= @documents.first.number_of_paper_submissions.present? ? @documents.first.number_of_paper_submissions : 'N/A' %></td>
              <% end %>
            </tr>
            <tr>
              <th>Papers Published</th>
              <% @documents.each do |document| %>
                <td><%= @documents.first.number_of_papers_published.present? ? @documents.first.number_of_papers_published : 'N/A' %></td>
              <% end %>
            </tr>
            <!-- Add similar rows for other attributes -->
        </tbody>
      </table>
    </div>

  <div class="heading-center-wrapper">
    <h1>Student Documents</h1>
  </div>
  <div class="content-center-wrapper">
    <!-- Display the resume file if available -->
    <% if @resume_url.present? %>
      <iframe src="<%= @resume_url %>" width="850" height="650" style="border: 4px solid #000; margin-right: 10px;"></iframe>
    <% end %>

    <% if @report_url.present? %>
      <iframe src="<%= @report_url %>" width="850" height="650" style="border: 4px solid #000; margin-left: 10px;"></iframe>
    <% end %>
  </div>

  <!-- Add code to display other documents if needed -->

<% non_empty_comments = @private_comments.reject { |assessment| assessment.private_comment.blank? || assessment.private_comment.strip.empty? } %>

  <% if non_empty_comments.present? %>
  <h2>Comment made by other faculty</h2>
  <table>
    <thead>
      <tr>
        <th>Faculty Member</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <% non_empty_comments.each do |assessment| %>
        <tr>
          <td><%= assessment.faculty.first_name %> <%= assessment.faculty.last_name %></td>
          <td><%= assessment.private_comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <div class="heading-center-wrapper">
    <h1>Performance Assessment</h1>
  </div>
  <%= form_tag faculty_save_assessment_path, method: :post do %>
    <table>
      <tr>
        <td class="left-align"><label for="public_comment">Comment for Student:</label></td>
        <td><textarea id="public_comment" name="assessment[public_comment]" rows="4" cols="50"></textarea></td>
      </tr>
      <tr>
        <td class="left-align"><label for="private_comment">Comment for Faculty:</label></td>
        <td><textarea id="private_comment" name="assessment[private_comment]" rows="4" cols="50"></textarea></td>
      </tr>
      <tr>
        <td class="left-align"><label for="rating">Rating:</label></td>
        <td>
          <select id="rating" name="assessment[rating]">
            <option value="Satisfactory">Satisfactory</option>
            <option value="Unsatisfactory">Unsatisfactory</option>
            <option value="Needs Improvement">Needs Improvement</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="left-align"><label for="eligible_for_reward">Eligible for Reward:</label></td>
        <td><input type="checkbox" id="eligible_for_reward" name="assessment[eligible_for_reward]" value="1"></td>
      </tr>
      <tr>
        <td colspan="2" class="center-align"><input type="submit" value="Save Assessment" class="btn-save" id="save"></td>
      </tr>
    </table>
  <% end %>
<% end %>
</body>
</html>
